* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Chicle', serif;
  font-weight: 300;
  color: #595959;
  background-color: #fffff7;
}

h3, p, li {
  font-family: 'Minion Pro', 'Times New Roman', Times, serif;
}

h1, h2 {
  color: #8bca86;
  line-height: 50%;
  font-variant: small-caps;
  font-weight: 300;
}

/*************************************************************************************************************************************/
/*************************************************************** NAVBAR **************************************************************/
/*************************************************************************************************************************************/

/* styling af navigationsbar */
nav {
  background-color: #edfff7;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
} 
  
nav ul {
  margin-right: 30px;
}

/* styling lgo */
.logo-nav {
  height: 70px;
} 

.logo-nav-a {
  margin-left: 15px;
  line-height: 170px;
}
  
nav ul li {
  display: inline-block;
  margin: 0 5px;
} 
 
/* menupunkter */
nav ul li a, .a {
  color: #8bca86;
  font-size: 1.7rem;
  padding: 0 13px;
  text-transform: uppercase;
  margin-top: 55px;
  cursor: pointer;
  font-family: 'Chicle', serif;
}
   

.checkbtn {
  font-size: 30px;
  color: #8bca86;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
  
#check {
  display: none;
} 

/* undermenu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 90px;
  background-color: #edfff7;
  z-index: 1;
  width: 200px;
  text-align: left;
  right: -25px;
}

nav ul li ul li .dropdownpunkt {
  line-height: 30px;
  font-size: 1.4rem;
}
  
/* undermenu kommer frem ved hover */
.a:hover .dropdown-content {
  display: block;
}


/*************************************************************************************************************************************/
/************************************************************** FORSIDE **************************************************************/
/*************************************************************************************************************************************/
#forside {
  display: flex;
  justify-content: center;
  margin: 80px 10%;
  flex-wrap: wrap;
  gap: 5rem 2%;
}

/****************************************************** FØRSTE BOKS/KAMPAGNE *********************************************************/
.kampagne {
  width: 100%;
  height: 100vh;
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5vh);
}

.kampagne h2 {
  font-size: 10rem;
  line-height: 6rem;
  grid-column: 3 / 12;
  grid-row: 3 / 15;
  justify-self: end;
  align-self: end;
  z-index: 3;
  background-color: #fffff7;
}

.kampagne a {
  color: #8bca86;
  font-size: 2.5rem;
  line-height: 2rem;
  font-variant: small-caps;
  grid-column: 7 / 12;
  grid-row: 14;
  justify-self: end;
  align-self: end;
  z-index: 3;
  background-color: #fffff7;

}

.kampagne img {
  width: 2.75rem;
}

/* baggrundsflasker */
.flaske1k {
  grid-column: 2;
  grid-row: 5 / 20;
  transform: rotate(19deg);
}

.flaske2k {
  grid-column: 12;
  grid-row: 2 / 20;
  transform: rotate(336deg);
}

.flaske3k {
  grid-column: 19;
  grid-row: 4 / 20;
  transform: rotate(46deg);
}

.flaske4k {
  grid-column: 14;
  grid-row: 10 / 20;
  transform: rotate(336deg);
  justify-self: end;
}

.flaske5k {
  grid-column: 12;
  grid-row: 15 / 20;
  transform: rotate(47deg);
  align-self: end;
}

.flaske6k {
  grid-column: 19;
  grid-row: 16 / 20;
  transform: rotate(328deg);
}

.flaske7k {
  grid-column: 3;
  grid-row: 17 / 20;
  transform: rotate(300deg);
}

.flaske8k {
  grid-column: 7;
  grid-row: 3 / 20;
  transform: rotate(60deg);
}

.flaske9k {
  grid-column: 15;
  grid-row: 4 / 20;
  transform: rotate(28deg);
}

.flaske10k {
  grid-column: 19;
  grid-row: 9 / 20;
  transform: rotate(28deg);
  justify-self: end;
}

.flaske11k {
  grid-column: 6;
  grid-row: 15 / 20;
  transform: rotate(314deg);
}

/* baggrundsdaaser */
.daase1k {
  grid-column: 18;
  grid-row: 2 / 20;
  transform: rotate(17deg);
}

.daase2k {
  grid-column: 17;
  grid-row: 10 / 20;
  transform: rotate(43deg);
  align-self: center;
}

.daase3k {
  grid-column: 16;
  grid-row: 8 / 20;
  transform: rotate(338deg);
  justify-self: end;
}

.daase4k {
  grid-column: 14;
  grid-row: 19 / 20;
  transform: rotate(317deg);
  justify-self: end;
}

.daase5k {
  grid-column: 9;
  grid-row: 18 / 20;
  transform: rotate(30deg);
  justify-self: start;
}

.daase6k {
  grid-column: 6;
  grid-row: 20 / 20;
  transform: rotate(326deg);
  align-self: start;
}

.daase7k {
  grid-column: 2;
  grid-row: 11 / 20;
  transform: rotate(340deg);
}

.daase8k {
  grid-column: 1;
  grid-row: 16 / 20;
  transform: rotate(37deg);
}

.daase9k {
  grid-column: 9;
  grid-row: 5 / 20;
  transform: rotate(13deg);
  justify-self: end;
}

.daase11k {
  grid-area: 4 / 4;
  transform: rotate(44deg);
  align-self: center;
}

.flaske14k, .flaske15k, .flaske16k, .daase10k, .daase12k, .daase13k, .daase14k, .daase15k, .daase16k {
  display: none;
}

/********************************************************* ANDEN BOKS/NYHED **********************************************************/
.nyhed {
  margin: 7rem 2rem 1rem;
  display: flex;
  align-items: flex-end;
  text-align: center;
  width: 100%;
  gap: 4%;
}

.nyhed h2 {
  font-size: 22rem;
  line-height: 11rem;
  color: #efeb5b;
  z-index: 3;
  align-self: center;
}

.nyhed img {
  width: 100%;
}

/******************************************************** TREDJE BOKS/CITAT **********************************************************/
.citat {
  text-align: center;
  width: 100%;
}

.citat h2 {
  font-size: 13rem;
  line-height: 11rem;
}

/****************************************** FJERDE + FEMTE BOKST/VARIANTER + PRODUKTIONEN ********************************************/
.varianter, .produktionen {
  margin: 2rem 1rem 0 0;
  width: 40%;
  text-align: center;
}

.produktionen {
  width: 47%;
}

.varianter h2, .produktionen h2 {
  font-size: 9rem;
  margin: 10px;
  padding: 1rem 0;
}

.varianter img {
  width: 28%;
  margin: 0 10px;
}

.produktionen img {
  width: 90%;
}

/*************************************************** SJETTE BOKS/HISTORIEN BAG *******************************************************/
.historie {
  width: 100%;
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(15, 6.666666666667%);
  grid-template-rows: repeat(10, 15%);
  margin-top: 7rem;
}

.historie h2 {
  font-size: 12rem;
  line-height: 10rem;
  grid-column: 5 / 12;
  grid-row: 2 / 4;
  justify-self: center;
  align-self: end;
  text-align: center;
}

.historie picture {
  width: 80%;
  grid-column: 6 / 11;
  grid-row: 4 / 7;
  justify-self: center;
  align-self: start;

}

.historie img {
  width: 100%;
}

.historie a {
  background-color: #b1d7e1;
  color: #fffff7;
  font-size: 3rem;
  padding: 0.125rem 1.5rem;
  border-radius: 15px;
  grid-column: 6 / 11;
  grid-row: 5;
  justify-self: center;
  align-self: start;
  text-align: center;
}

/* baggrunds figure */
#groen1f {
  width: 120%;
  transform: rotate(20deg);
  grid-column: 14;
  grid-row: 1;
  justify-self: end;
}

#groen4f {
  width: 200%;
  grid-column: 13;
  grid-row: 7 / 8;
  transform: rotate(146deg);
  justify-self: end;
}

#groen6f {
  width: 120%;
  grid-column: 10;
  grid-row: 6 / 7;
  justify-self: end;
}

#groen8f {
  width: 200%;
  grid-column: 3;
  grid-row: 6 / 7;
  transform: rotate(230deg);
  justify-self: center;
}

#groen9f {
  width: 140%;
  grid-column: 12;
  grid-row: 3 / 7;
  justify-self: start;
  transform: rotate(80deg);
}

#groen10f {
  width: 120%;
  grid-column: 1;
  grid-row: 7 / 8;
  transform: rotate(45deg);
  justify-self: end;
}

#groen13f {
  width: 100%;
  grid-column: 8;
  grid-row: 7 / 8;
  transform: rotate(40deg);
}

#groen14f {
  width: 100%;
  grid-column: 1;
  grid-row: 1 / 5;
  justify-self: start;
}

#groen16f {
  width: 125%;
  grid-column: 5 / 7;
  grid-row: 8;
  transform: scaleY(-1);
  align-self: end;
}

#groen17f {
  width: 150%;
  grid-column: 15;
  grid-row: 8;
  align-self: end;
  justify-self: end;
  transform: scaleX(-1);
}

#groen18f {
  width: 110%;
  grid-column: 4;
  grid-row: 4;
  justify-self: start;
  transform: rotate(270deg);
}

#groen19f {
  width: 100%;
  grid-column: 6;
  grid-row: 6 / 8;
  transform: rotate(200deg);
}

/*************************************************************************************************************************************/
/************************************************************** KAMPAGNE *************************************************************/
/*************************************************************************************************************************************/
#kampagne {
  display: flex;
  margin: 150px 13% 30px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#kampagne h1 {
  font-size: 6.75rem;
  line-height: 5rem;
  margin: 10px;
  z-index: 3;
  background-color: #fffff7;}

#kampagne p {
  font-size: 1.75rem;
  padding: 10px;
  z-index: 3;
}

#kampagne div {
  background-color: #b1d7e1;
  color: #fffff7;
  font-size: 2.25rem;
  padding: 0.75rem 1.75rem;
  border-radius: 15px;
  margin-top: 2rem;
  z-index: 3;
  position: relative;
}

#kampagne input {
  background-color: #b1d7e1;
  line-height: 0.75rem;
  width: 15rem;
  border: none;
  border-bottom: #fffff7 solid 3px;
  z-index: 3;
}

.baggrund-kampagne img {
  width: 100%;
  z-index: 1;
}

.baggrund-kampagne {
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(40, 2.5%);
  grid-template-rows: repeat(15, 6.666666666666667%);
  gap: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 30px;
}

/* baggrunds flasker */
.flaske1 {
  grid-area: 2 / 7;
  transform: rotate(13deg);
}

.flaske2 {
  grid-area: 4 / 3;
  transform: rotate(356deg);
}

.flaske3 {
  grid-area: 8 / 4;
  transform: rotate(14deg);
}

.flaske4 {
  grid-area: 12 / 1;
  transform: rotate(336deg);
  justify-self: end;
}

.flaske5 {
  grid-area: 13 / 9;
  transform: rotate(17deg);
  align-self: end;
}

.flaske6 {
  grid-area: 12 / 28;
  transform: rotate(348deg);
}

.flaske7 {
  grid-area: 6 / 40;
  transform: rotate(6deg);
}

.flaske8 {
  grid-area: 11 / 34;
  transform: rotate(18deg);
}

.flaske9 {
  grid-area: 8 / 37;
  transform: rotate(338deg);
}

.flaske10 {
  grid-area: 1 / 39;
  transform: rotate(28deg);
}

.flaske11 {
  grid-area: 2 / 26;
  transform: rotate(354deg);
}

.flaske12 {
  grid-area: 1 / 34;
  transform: rotate(351deg);
}

.flaske13 {
  grid-area: 3 / 16;
  transform: rotate(336deg);
  align-self: center;
}

.flaske14 {
  grid-area: 13 / 19;
  transform: rotate(10deg);
  z-index: 1;
}

/* baggrunds daaser */
.daase1 {
  grid-area: 2 / 1;
  transform: rotate(17deg);
}

.daase2 {
  grid-area: 9 / 1;
  transform: rotate(348deg);
  align-self: center;
}

.daase3 {
  grid-area: 12 / 5;
  transform: rotate(23deg);
}

.daase4 {
  grid-area: 13 / 13;
  transform: rotate(337deg);
}

.daase5 {
  grid-area: 14 / 24;
  transform: rotate(10deg);
}

.daase6 {
  grid-area: 11 / 31;
  transform: rotate(15deg);
  justify-self: end;
}

.daase7, .daase8 {
  display: none;
}

.daase9 {
  grid-area: 3 / 21;
  transform: rotate(13deg);
}

.daase10 {
  grid-area: 2 / 30;
  transform: rotate(3deg);
}

.daase11 {
  grid-area: 2 / 12;
  transform: rotate(354deg);
  align-self: center;
}

.daase12 {
  grid-area: 5 / 36;
  transform: rotate(15deg);
}

.daase13 {
  grid-area: 13 / 38;
  transform: rotate(357deg);
  align-self: start;
}


/*************************************************************************************************************************************/
/*************************************************************** NYHED ***************************************************************/
/*************************************************************************************************************************************/
#nyhed {
  margin: 150px 15% 160px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.indhold-nyhed {
  display: grid;
  grid-template-columns: 60% 18% 18%;
  grid-template-rows: 10% 16.5% 41% 34.5%;
  gap: 4% 2%;
  justify-content: center;
}

#nyhed h1 {
  font-size: 7.5rem;
  color: #efeb5b;
  z-index: 3;
  grid-row: 1;
  grid-column: 1 / 3;
  padding: 2rem 0 0 10px;
  text-align: left;
}

#nyhed #pilsnerh1 {
  color: #8bca86;
}

.indhold-nyhed img {
  width: 100%;
}

#daase-gul {
  margin-bottom: 5px;
}

#tekst-nyhed {
  text-align: left;
  z-index: 3;
  grid-row: 2 / 4;
  grid-column: 1;
}

#tekst-nyhed p {
  font-size: 1.75rem;
  padding: 10px 0;
}

#fremhæv {
  font-size: 2.5rem;
  text-align: center;
}

#daase-gul {
  z-index: 3;
  grid-row: 3 / 4;
  grid-column: 2;
  align-self: end;
  justify-self: center;
}

#flaske-gul {
  z-index: 3;
  grid-row: 1 / 4;
  grid-column: 3;
  align-self: end;
  justify-self: center;
}

#næringsindhold {
  list-style: none;
  text-align: left;
  z-index: 3;
  grid-row: 4;
  grid-column: 1;
}

#ingredienser {
  list-style: none;
  text-align: left;
  z-index: 3;
  grid-row: 4;
  grid-column: 2 / 4;
}

#næringsindhold h3, #ingredienser h3 {
  font-size: 2rem;
  padding-bottom: 5px;
}

#næringsindhold li, #ingredienser li {
  font-size: 1.75rem;
}

/************************************************************** BAGGRUND *************************************************************/
.baggrund {
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5%);
  gap: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 0;
}

/* gule baggrunds figure */
#gul1 {
  width: 150%;
  transform: rotate(20deg);
  grid-column: 20;
  grid-row: 18;
}

#gul2 {
  width: 150%;
  grid-column: 14;
  grid-row: 5;
}

#gul3 {
  width: 170%;
  grid-column: 6;
  grid-row: 1;
  transform: rotate(330deg);
}

#gul4 {
  width: 100%;
  grid-column: 20;
  grid-row: 12;
  transform: rotate(110deg);
}

#gul5 {
  width: 250%;
  grid-column: 10;
  grid-row: 17;
  transform: rotate(90deg);
  justify-self: start;
}

#gul6 {
  width: 150%;
  grid-column: 1;
  grid-row: 1 / 4;
  transform: rotate(180deg);
}

#gul7 {
  width: 290%;
  grid-column: 17;
  grid-row: 4;
  transform: rotate(270deg);
}

#gul8 {
  width: 300%;
  grid-column: 12;
  grid-row: 1;
}

#gul9 {
  width: 120%;
  grid-column: 1;
  grid-row: 10;
  transform: rotate(80deg);
  justify-self: end;
}

#gul10 {
  width: 160%;
  grid-column: 2;
  grid-row: 5;
  transform: rotate(120deg);
}

#gul11 {
  width: 160%;
  grid-column: 11;
  grid-row: 11;
  transform: rotate(280deg);
}

#gul12 {
  width: 150%;
  grid-column: 17;
  grid-row: 17;
}

#gul13 {
  width: 180%;
  grid-column: 2;
  grid-row: 13 / 15;
  transform: rotate(220deg);
}

#gul14 {
  width: 270%;
  grid-column: 1;
  grid-row: 19;
  align-self: end;
}

#gul15 {
  width: 110%;
  grid-column: 20;
  grid-row: 9;
  justify-self: end;
}

#gul16 {
  width: 80%;
  grid-column: 20;
  grid-row: 1;
  transform: rotate(180deg);
  justify-self: end;
}

/*************************************************************************************************************************************/
/*************************************************************** NYHED ***************************************************************/
/*************************************************************************************************************************************/
#nyhed #pilsnerh1 {
  color: #8bca86;
}

/*************************************************************************************************************************************/
/************************************************************* PRODUKTION ************************************************************/
/*************************************************************************************************************************************/
#produktion {
  display: flex;
  margin: 120px 10% 30px;
  flex-direction: column;
  align-items: center;
}

#produktion h1 {
  font-size: 8rem;
  padding: 2rem;
}

#produktion img {
  width: 100%;
}

/*************************************************************************************************************************************/
/*********************************************************** HISTORIEN BAG ***********************************************************/
/*************************************************************************************************************************************/
#historie {
  display: flex;
  margin: 120px 17% 30px;
  flex-direction: column;
  align-items: center;
}

#historie h1 {
  font-size: 6rem;
  margin: 30px 0 30px;
  text-align: center;
  z-index: 3;
}

#historie div p {
  font-size: 1.75rem;
  padding: 10px;
}

#vision, #mission {
  border: solid #b1d7e1 15px;
  border-radius: 25px;
  background-color: #fffff7;
  width: 75%;
  padding: 20px;
  margin: 2rem;
  text-align: center;
  z-index: 3;
}

#vision h2, #mission h2 {
  font-size: 2.5rem;
  padding: 20px;
}

#vision p, #mission p {
  font-size: 1.75rem;
}

.tekst-laptop, .tekst-mobil, .tekst {
  background-color: #fffff7;
  z-index: 3;
}

.tekst-mobil {
  display: none;
}

/************************************************************** BAGGRUND *************************************************************/

/* baggrunds figure */
#groen1 {
  width: 120%;
  transform: rotate(20deg);
  grid-column: 20;
  grid-row: 16;
}

#groen2 {
  width: 120%;
  grid-column: 15;
  grid-row: 3;
}

#groen3 {
  width: 200%;
  grid-column: 17;
  grid-row: 19;
  transform: rotate(80deg);
}

#groen4 {
  width: 250%;
  grid-column: 10;
  grid-row: 17;
  transform: rotate(146deg);
}

#groen6 {
  width: 150%;
  grid-column: 6;
  grid-row: 1;
  transform: rotate(180deg);
}

#groen8 {
  width: 300%;
  grid-column: 17;
  grid-row: 1;
}

#groen9 {
  width: 100%;
  grid-column: 16;
  grid-row: 16;
  transform: rotate(80deg);
}

#groen10 {
  width: 160%;
  grid-column: 5;
  grid-row: 15;
  transform: rotate(45deg);
}

#groen12 {
  width: 150%;
  grid-column: 17;
  grid-row: 12;
}

#groen13 {
  width: 130%;
  grid-column: 18;
  grid-row: 8;
  transform: rotate(40deg);
}

#groen14 {
  width: 100%;
  grid-column: 1;
  grid-row: 7;
  justify-self: start;
}

#groen15 {
  width: 100%;
  grid-column: 20;
  grid-row: 5;
  justify-self: end;
}

#groen16 {
  width: 300%;
  grid-column: 1;
  grid-row: 2;
}

#groen17 {
  width: 215%;
  grid-column: 1;
  grid-row: 19;
  align-self: end;
}

#groen18 {
  width: 140%;
  grid-column: 2;
  grid-row: 13;
}

#groen19 {
  width: 120%;
  grid-column: 3;
  grid-row: 6;
  transform: rotate(20deg);
}


/*************************************************************************************************************************************/
/************************************************************* VARIANTER *************************************************************/
/*************************************************************************************************************************************/
#varianter {
  display: flex;
  margin: 150px 10% 30px;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem 6%;
}

.nyhed-varianter {
  grid-template-columns: 40% 60%;
  display: grid;
  align-items: center;
  width: 100%;
  height: 450px;
  gap: 4%;
}

.nyhed-varianter h2 {
  font-size: 18rem;
  color: #efeb5b;
  padding-left: 5rem;
}

.øl-nyhed {
  display: flex;
  align-items: end;
  gap: 0 2rem;
  height: 450px;
  justify-content: center;
}

.øl-nyhed img {
  width: 250px;
  margin-bottom: -5px;
}

.baggrund-varianter {
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  gap: 0;
  position: absolute;
  width: 80%;
  height: 450px;
  top: 150px;
  left: 10%;
}

/* baggrunds figure */
#gul4v {
  width: 45%;
  grid-column: 10;
  grid-row: 7;
  justify-self: end;
}

#gul9v {
  width: 100%;
  grid-column: 5;
  grid-row: 2;
  transform: rotate(25deg);
}

#gul10v {
  width: 100%;
  grid-column: 5;
  grid-row: 8;
  transform: rotate(95deg);
}

#gul12v {
  width: 75%;
  grid-column: 3;
  grid-row: 1;
  transform: rotate(210deg);
}

#gul13v {
  width: 100%;
  grid-column: 7;
  grid-row: 2;
  transform: rotate(90deg);
}

#gul14v {
  width: 120%;
  grid-column: 3;
  grid-row: 10;
  align-self: end;
}

#gul15v {
  width: 67%;
  grid-column: 10;
  grid-row: 1;
  justify-self: end;
}

#gul16v {
  width: 45%;
  grid-column: 1;
  grid-row: 1;
}

#gul17v {
  width: 100%;
  grid-column: 1;
  grid-row: 10;
  align-self: end;
}

/* øl varianter */
.øl {
  width: 25%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33.33333333% 66.66666666%;
  justify-content: end;
  align-items: end;
  z-index: 2;
  gap: 0 3%;
}

.øl h2 {
  font-size: 5.5rem;
  grid-column: 1;
  align-self: center;
}

.øl img {
  width: 100%;
}

.flaske {
  grid-row: 1 / 3;
  grid-column: 2;
}

.dåse {
  grid-column: 1;
}

/*************************************************************************************************************************************/
/*************************************************************** FOOTER **************************************************************/
/*************************************************************************************************************************************/
footer {
  padding: 20px 0 30px;
  background-color: #edfff7;
  position: relative;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

#links-footer {
  width: 100%;
  font-size: 25px;
  justify-items: center;
  padding: 10px 0;
}

.logo-footer {
  height: 30px;
  opacity: 0.6;
}

footer ul li {
  display: inline-block;
  padding: 0 15px;
}

footer ul li a {
  opacity: 0.6;
  color: #8bca86;
  font-family: 'Chicle', serif;
}

footer ul li a:hover, .logo-footer:hover {
  opacity: 1;
}




/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/*************************************************************** @MEDIA **************************************************************/
/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
@media (max-width: 1440px) {  
  /****************************************************** FØRSTE BOKS/KAMPAGNE *******************************************************/
  .kampagne h2 {
    font-size: 10rem;
  }

  .kampagne a {
    font-size: 2.25rem;
  }
  
  /******************************************************** ANDEN BOKS/NYHED *********************************************************/
  .nyhed {
    margin: 0 2rem 1.5rem;
  }
  
  .nyhed h2 {
    font-size: 20rem;
  }

  /******************************************************** TREDJE BOKS/CITAT ********************************************************/
  .citat h2 {
    font-size: 10rem;
    line-height: 9rem;
  }
  
  /****************************************** FJERDE + FEMTE BOKST/VARIANTER + PRODUKTIONEN ******************************************/
  .varianter h2, .produktionen h2 {
    font-size: 7rem;
  }

  /**************************************************** SJETTE BOKS/HISTORIEN BAG ****************************************************/
  .historie h2 {
    font-size: 8rem;
    line-height: 8rem;
  }

  .historie a {
    font-size: 2rem;
  }

  /************************************************************ NYHED ****************************************************************/
  #nyhed {
    margin: 150px 12% 160px;
  }
  
  .indhold-nyhed {
    grid-template-columns: 58% 15% 15%;
    grid-template-rows: 15% 26.5% 24% 32.5%;
  }
  
  #nyhed h1 {
    font-size: 6rem;
    align-self: start;
  }
 
  #tekst-nyhed p {
    font-size: 1.5rem;
  }
  
  #fremhæv {
    font-size: 2.25rem;
  }
  
  #næringsindhold h3, #ingredienser h3 {
    font-size: 1.75rem;
  }
  
  #næringsindhold li, #ingredienser li {
    font-size: 1.5rem;
  }

  /********************************************************** VARIANTER **************************************************************/
  .nyhed-varianter {
    height: 410px;
    gap: 2%;
  }
  
  .nyhed-varianter h2 {
    font-size: 12rem;
    padding-left: 2rem;
  }
  
  .øl-nyhed {
    height: 410px;
  }
  
  .øl-nyhed img {
    width: 225px;
  }
  
  .baggrund-varianter {
    height: 410px;
  }
  
  #gul10v {
    grid-column: 4;
    justify-self: start;
  }
  
  #gul14v {
    justify-self: end;
  }
  
  #gul4v, #gul15v {
    display: none;
  }

  .øl h2 {
    font-size: 4.25rem;
  }  
}

@media (max-width: 1300px) {

  /**************************************************** FØRSTE BOKS/KAMPAGNE ********************************************************/
  .baggrund-kampagne img {
    width: 125%;
  }

  /******************************************************** HISTORIEN BAG ***********************************************************/
  #groen1 {
    width: 170%;
  }
  
  #groen2 {
    width: 170%;
  }
  
  #groen3 {
    width: 250%;
  }
  
  #groen4 {
    width: 300%;
  }
  
  #groen6 {
    width: 200%;
  }
  
  #groen8 {
    width: 350%;
  }
  
  #groen9 {
    width: 150%;
  }
  
  #groen10 {
    width: 210%;
  }
  
  #groen12 {
    width: 200%;
  }
  
  #groen13 {
    width: 180%;
  }
  
  #groen14 {
    width: 150%;
  }
  
  #groen15 {
    width: 150%;
  }
  
  #groen16 {
    width: 350%;
  }
  
  #groen17 {
    width: 265%;
  }
  
  #groen18 {
    width: 190%;
  }
  
  #groen19 {
    width: 170%;
  }
}

@media (max-width: 1240px) {

  /**************************************************** FØRSTE BOKS/KAMPAGNE ********************************************************/
  .kampagne h2 {
    font-size: 7.75rem;
    line-height: 5rem;
    grid-column: 3 / 12;
    grid-row: 4 / 15;
  }

  .kampagne a {
    font-size: 1.8rem;
    line-height: 1.2rem;
    grid-column: 9 / 12;
  }

  /************************************************************ NYHED ***************************************************************/
  .indhold-nyhed {
    grid-template-columns: 54% 17% 17%;
    grid-template-rows: 8% 22.5% 32% 32.5%;
    gap: 5% 2%;
  }
  
  #nyhed h1 {
    font-size: 5rem;
  }
  
  /*********************************************************** BAGGRUND *************************************************************/
    #gul2 {
    grid-column: 13;
    grid-row: 6;
  }
  
  #gul3 {
    width: 150%;
    grid-row: 2;
  }
  
  #gul5 {
    grid-column: 9;
    grid-row: 13;
  }
  
  #gul6 {
    width: 200%;
    grid-row: 2 / 4;
  }
  
  #gul7 {
    grid-row: 5;
  }
  
  #gul8 {
    grid-row: 1;
  }
  
  #gul9 {
    grid-row: 12 / 14;
  }
  
  #gul10 {
    grid-row: 6;
  }
  
  #gul11 {
    grid-column: 3;
    grid-row: 9;
    transform: rotate(300deg);
  }
  
  #gul12 {
    grid-row: 15;
  }
  
  #gul13 {
    width: 200%;
    grid-row: 15 / 17;
  }
  
  #gul14 {
    width: 300%;
    grid-column: 5;
  }
  
  #gul15 {
    grid-row: 8;
  }
  
  #gul16 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  /****************************************************** FØRSTE BOKS/KAMPAGNE *******************************************************/
  .kampagne h2 {
    font-size: 6.25rem;
    line-height: 4rem;
  }

  .kampagne a {
    font-size: 1.5rem;
    line-height: 1rem;
  }

  /******************************************************** ANDEN BOKS/NYHED *********************************************************/
  .nyhed h2 {
    font-size: 12rem;
  }

  /******************************************************** TREDJE BOKS/CITAT ********************************************************/
  .citat h2 {
    font-size: 7rem;
    line-height: 6rem;
  }

  /****************************************** FJERDE + FEMTE BOKST/VARIANTER + PRODUKTIONEN ******************************************/
  .varianter h2, .produktionen h2 {
    font-size: 4.5rem;
  }

  /*************************************************** SJETTE BOKS/HISTORIEN BAG ****************************************************/
  .historie h2 {
    font-size: 6rem;
    line-height: 5rem;
  }

  .historie a {
    font-size: 1.5rem;
    padding: 0.125rem 1rem;
  }

  /*********************************************************** NYHED ***************************************************************/
  #nyhed {
    margin: 150px 13% 160px;
  }
  
  .indhold-nyhed {
    grid-template-columns: 50% 18% 18%;
  }
  
  #nyhed h1 {
    font-size: 4rem;
  }

  #tekst-nyhed p {
    font-size: 1.25rem;
  }
  
  #fremhæv {
    font-size: 1.5rem;
  }
  
  #næringsindhold li, #ingredienser li {
    font-size: 1.25rem;
  }

  /********************************************************** VARIANTER **************************************************************/
  .nyhed-varianter {
    height: 360px;
  }
  
  .nyhed-varianter h2 {
    font-size: 9rem;
    padding-left: 1rem;
  }
  
  .øl-nyhed {
    height: 360px;
  }
  
  .øl-nyhed img {
    width: 200px;
  }
  
  .baggrund-varianter {
    height: 360px;
  }
  
  #gul16v {
    width: 40%;
  }

  .øl h2 {
    font-size: 3.5rem;
  }
}

/*************************************************************************************************************************************/
/****************************************************** *MEDIA TIL TABLET ************************************************************/
/*************************************************************************************************************************************/
@media (max-width: 820px) {
  /***********************************************************************************************************************************/
  /************************************************************** NAVBAR *************************************************************/
  /***********************************************************************************************************************************/
  .checkbtn {
    font-size: 50px;
    line-height: 100px;
    display: block;
  }

  nav {
    height: 90px;
  } 

  /* Styling af logo */
  .logo-nav {
    height: 65px;
  } 

  .logo-nav-a {
    line-height: 150px;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #edfff7;
    top: 80px;
    left: 0;
    text-align: center;
    z-index: 5;
  } 

  #menu li {
    display: block;
  }

  nav ul li a, .a {
    font-size: 2rem;
    line-height: 3rem;
    padding: 0 13px;
    margin-top: 0;
  }

  #menu {
    left: 100%;
    transition: all 0.75s;
    margin-top: 10px;
  }

  .dropdown-content {
    display: block;
    position: relative;
    top: 10px;
    text-align: center;
    width: 100%;
  }

  .dropdown-content li {
    line-height: 0.75rem;
    margin-top: -10px;
    margin-bottom: 10px;

  }

  /* burgermenu kommer frem ved klik */
  #check:checked ~ #menu {
    left: 0;
  }

  /***********************************************************************************************************************************/
  /************************************************************* FORSIDE *************************************************************/
  /***********************************************************************************************************************************/
  #forside {
    margin: 2rem 8% 0;
    gap: 3rem 1%;
  }

  /****************************************************** FØRSTE BOKS/KAMPAGNE *******************************************************/
  .kampagne {
    grid-template-rows: repeat(40, 2.5%);
  }

  .kampagne h2 {
    font-size: 6rem;
    grid-column: 5 / 17;
    grid-row: 18 / 25;
    text-align: center;
    justify-self: center;
  }

  .kampagne a {
    font-size: 1.75rem;
    grid-column: 5 / 17;
    grid-row: 26;
    justify-self: center;
    align-self: start;
  }

  .kampagne img {
    width: 1.75rem;
  }

  .flaske1k {
    grid-column: 3;
    grid-row: 20 / 20;
  }

  .flaske2k {
    grid-column: 13;
    transform: rotate(326deg);
  }

  .flaske3k {
    transform: rotate(16deg);
  }

  .flaske4k {
    grid-column: 15;
    grid-row: 25 / 40;
  }

  .flaske5k {
    grid-column: 11;
    grid-row: 33 / 40;
    align-self: start;
  }

  .flaske6k {
    grid-column: 15;
    grid-row: 38 / 40;
  }

  .flaske7k {
    grid-column: 2;
    grid-row: 33 / 40;
  }

  .flaske8k {
    grid-column: 8;
    grid-row: 6 / 40;
    transform: rotate(320deg);
  }

  .flaske9k {
    grid-column: 14;
    grid-row: 9 / 40;
    transform: rotate(348deg);
    display: none;
  }

  .flaske10k {
    grid-column: 4;
    grid-row: 2 / 40;
  }

  .flaske11k {
    grid-row: 28 / 40;
    transform: rotate(334deg);
  }

  .flaske14k {
    grid-column: 18;
    grid-row: 20 / 40;
    transform: rotate(24deg);
    align-self: start;
    display: block;
  }

  .flaske15k {
    grid-column: 19;
    grid-row: 9 / 20;
    transform: rotate(14deg);
    align-self: center;
    display: block;
  }

  .flaske16k {
    grid-column: 19;
    grid-row: 31 / 40;
    transform: rotate(330deg);
    align-self: center;
    display: block;
  }

  .daase1k {
    grid-column: 11;
    grid-row: 39 / 40;
    transform: rotate(37deg);
  }

  .daase2k {
    grid-column: 15;
    grid-row: 30 / 40;
    transform: rotate(23deg);
  }

  .daase3k {
    grid-column: 19;
    grid-row: 26 / 40;
    transform: rotate(38deg);
  }

  .daase4k {
    grid-column: 2;
    grid-row: 28 / 40;
  }

  .daase5k {
    grid-column: 10;
    grid-row: 29 / 40;
  }

  .daase6k {
    grid-row: 38 / 40;
  }

  .daase8k {
    grid-row: 17 / 20;
  }

  .daase9k {
    grid-column: 11;
    grid-row: 8 / 20;
  }

  .daase10k {
    grid-column: 1;
    grid-row: 1 / 20;
    transform: rotate(30deg);
    display: block;
  }

  .daase11k {
    grid-column: 17;
    grid-row: 9 / 40;
    transform: rotate(351deg);
    align-self: start;
  }

  .daase12k {
    grid-column: 16;
    grid-row: 1 / 40;
    transform: rotate(34deg);
    align-self: start;
    display: block;
  }

  .daase13k {
    grid-column: 18;
    grid-row: 39;
    transform: rotate(344deg);
    align-self: start;
    display: block;
  }

  .daase14k {
    grid-column: 1;
    grid-row: 39;
    transform: rotate(44deg);
    align-self: start;
    display: block;
  }

  .daase15k {
    grid-column: 8;
    grid-row: 2 / 40;
    transform: rotate(344deg);
    display: block;
  }

  .daase16k {
    grid-column: 6;
    grid-row: 10 / 40;
    transform: rotate(44deg);
    display: block;
  }

  /******************************************************** ANDEN BOKS/NYHED ********************************************************/
  .nyhed {
    margin: 0 2rem 1rem;
  }

  /******************************************************* TREDJE BOKS/CITAT ********************************************************/
  .citat h2 {
    font-size: 4rem;
    line-height: 3.25rem;
  }

  /****************************************** FJERDE + FEMTE BOKST/VARIANTER + PRODUKTIONEN *****************************************/
  .varianter h2, .produktionen h2 {
    font-size: 3rem;
  }

  /*************************************************** SJETTE BOKS/HISTORIEN BAG ****************************************************/
  .historie {
    margin-top: 3rem;
  }

  .historie h2 {
    font-size: 3.25rem;
    line-height: 3rem;
  }

  .historie picture {
    width: 90%;
  }

  .historie a {
    font-size: 1.125rem;
    padding: 0.125rem 0.5rem;
  }

  /**********************************************************************************************************************************/
  /************************************************************ KAMPAGNE ************************************************************/
  /**********************************************************************************************************************************/
  #kampagne {
    margin: 120px 16% 110px;
  }

  #kampagne h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  #kampagne p {
    font-size: 1.25rem;
    padding: 5px;
  }

  #kampagne div {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
  }

  #kampagne input {
    width: 10rem;
  }

  .baggrund-kampagne {
    grid-template-columns: repeat(30, 3.333333333333%);
  }

  .flaske1 {
    grid-area: 2 / 6;
  }

  .flaske2 {
    grid-area: 5 / 2;
  }

  .flaske3 {
    grid-area: 9 / 4;
  }

  .flaske4 {
    grid-area: 13 / 2;
  }

  .flaske5 {
    grid-area: 12 / 10;
  }

  .flaske6 {
    grid-area: 12 / 30;
  }

  .flaske7 {
    grid-area: 4 / 30;
    transform: rotate(36deg);
  }

  .flaske9 {
    grid-area: 9 / 28;
  }

  .flaske11 {
    grid-area: 1 / 25;
    transform: rotate(334deg);
  }

  .flaske14 {
    grid-area: 12 / 22;
  }

  .daase1 {
    grid-area: 3 / 1;
  }

  .daase2 {
    grid-area: 8 / 1;
  }

  .daase4 {
    grid-area: 12 / 16;
  }

  .daase5 {
    grid-area: 11 / 26;
  }

  .daase6 {
    grid-area: 1 / 19;
  }

  .daase7 {
    display: block;
    grid-area: 14 / 13;
    transform: rotate(13deg);
  }

  .daase10 {
    grid-area: 3 / 29;
    transform: rotate(13deg);
  }

  .daase12 {
    grid-area: 7 / 29;
    transform: rotate(346deg);
    align-self: start;
  }

  .daase13 {
    grid-area: 13 / 27;
    transform: rotate(327deg);
    align-self: center;
  }

  .flaske8, .flaske10, .flaske12 {
    display: none;
  }

  /**********************************************************************************************************************************/
  /************************************************************* NYHED **************************************************************/
  /**********************************************************************************************************************************/
  #nyhed {
    margin: 120px 2% 260px;
  }

  .indhold-nyhed {
    grid-template-columns: 45% 45%;
    grid-template-rows: 10% 21% 30% 27% 20%;
    gap: 2% 3%;
  }

  #nyhed h1 {
    font-size: 6rem;
    line-height: 4rem;
    grid-column: 1 / 3;
    text-align: center;
  }



  #tekst-nyhed {
    grid-row: 4;
    grid-column: 1 / 3;
  }

  #tekst-nyhed p {
    font-size: 1.5rem;
  }

  #daase-gul {
    grid-row: 2 / 4;
    grid-column: 1;
  }

  #flaske-gul {
    grid-row: 2 / 4;
    grid-column: 2;
  }

  #næringsindhold {
    grid-row: 5;
    grid-column: 1;
  }

  #ingredienser {
    grid-row: 5;
    grid-column: 2;
  }

  #næringsindhold h3, #ingredienser h3 {
    font-size: 1.75rem;
  }

  #næringsindhold li, #ingredienser li {
    font-size: 1.5rem;
  }

  /*********************************************************** BAGGRUND *************************************************************/
  #gul1 {
    width: 200%;
    grid-column: 10;
    grid-row: 2;
  }

  #gul2 {
    grid-column: 9;
    grid-row: 8;
  }

  #gul3 {
    grid-row: 1;
  }

  #gul4 {
    width: 130%;
    grid-column: 10;
    grid-row: 18;
  }

  #gul5 {
    grid-column: 4;
    grid-row: 7;
    transform: rotate(120deg);
  }

  #gul6 {
    width: 180%;
    grid-column: 1;
    grid-row: 1 / 3;
  }

  #gul9 {
    width: 150%;
    grid-column: 2;
    grid-row: 9;
  }

  #gul10 {
    grid-row: 5;
  }

  #gul13 {
    width: 160%;
    grid-column: 1;
    grid-row: 15;
    transform: rotate(310deg);
  }

  #gul7, #gul8, #gul11, #gul12, #gul14, #gul15, #gul16 {
    display: none;
  }

  /**********************************************************************************************************************************/
  /*********************************************************** PRODUKTION ***********************************************************/
  /**********************************************************************************************************************************/
  #produktion {
    margin: 120px 5% 30px;
  }

  #produktion h1 {
    font-size: 5rem;
    padding: 1rem;
  }

  /**********************************************************************************************************************************/
  /********************************************************* HISTORIEN BAG **********************************************************/
  /**********************************************************************************************************************************/
  #historie {
    margin: 100px 10% 30px;
  }

  #historie h1 {
    font-size: 5rem;
    margin: 30px 0 15px;
  }

  #historie div p {
    font-size: 1.25rem;
  }

  #vision, #mission {
    padding: 15px;
    margin: 2rem 0;
  }

  #vision h2, #mission h2 {
    font-size: 2rem;
    padding: 5px;
  }

  #vision p, #mission p {
    font-size: 1.25rem;
  }

  /*********************************************************** BAGGRUND *************************************************************/
  .baggrund {
    grid-template-columns: repeat(10, 10%);
  }

  #groen1 {
    width: 130%;
    grid-column: 9;
    grid-row: 8;
    justify-self: start;
  }

  #groen3 {
    width: 120%;
    grid-column: 9;
    grid-row: 16;
  }

  #groen4 {
    width: 200%;
    grid-column: 4;
    grid-row: 15;
    transform: rotate(46deg);
  }

  #groen6 {
    width: 110%;
    grid-column: 2;
    grid-row: 2;
    transform: rotate(280deg);
  }

  #groen8 {
    width: 230%;
    grid-column: 7;
    transform: scaleX(-1);
  }

  #groen9 {
    grid-column: 2;
    grid-row: 18;
  }

  #groen10 {
    width: 150%;
    grid-column: 1;
    grid-row: 14;
    transform: rotate(145deg);
  }

  #groen12 {
    width: 150%;
    grid-column: 6;
    grid-row: 8;
  }

  #groen13 {
    width: 130%;
    grid-column: 10;
    grid-row: 12;
    transform: rotate(200deg);
  }

  #groen15 {
    grid-column: 10;
    grid-row: 3;
  }

  #groen18 {
    width: 150%;
    grid-row: 10;
    justify-self: end;
  }

  #groen19 {
    width: 130%;
    grid-column: 1;
    grid-row: 5;
    justify-self: end;
  }

  #groen2, #groen14, #groen16, #groen17 {
    display: none;
  }

  /**********************************************************************************************************************************/
  /*********************************************************** VARIANTER ************************************************************/
  /**********************************************************************************************************************************/
  #varianter {
    margin: 120px 4% 30px;
    gap: 2rem 10%;
    justify-content: center;
  }

  .nyhed-varianter {
    grid-template-columns: 60% 20% 20%;
    height: 155px;
    gap: 0;
  }

  .nyhed-varianter h2 {
    font-size: 8rem;
    padding-left: 4rem;
    text-align: left;
  }

  .øl-nyhed {
    height: 155px;
  }

  .øl-nyhed img {
    width: 130px;
  }

  .baggrund-varianter {
    height: 155px;
    top: 120px;
  }

  #gul9v {
    width: 90%;
    transform: rotate(5deg);
  }

  #gul10v {
    grid-column: 7;
    grid-row: 9;
    align-self: end;
  }

  #gul12v {
    transform: rotate(90deg);
    justify-self: end;
  }

  #gul14v {
    width: 100%;
    grid-column: 4;
  }

  #gul15v {
    display: block;
  }

  #gul16v {
    width: 30%;
    grid-row: 2;
  }

  .øl {
    width: 40%;
  }

  .øl h2 {
    font-size: 4rem;
  }  
}

@media (max-width: 640px) {

  /************************************************************ NYHED ***************************************************************/
  #nyhed {
    margin: 120px 2% 10rem;
  }
  
  .indhold-nyhed {
    grid-template-columns: 35% 35%;
    grid-template-rows: 12% 17% 22% 35% 20%;
    gap: 2% 3%;
  }
  
  #nyhed h1 {
    font-size: 5rem;
  }
  
 
  #næringsindhold h3, #ingredienser h3 {
    font-size: 1.5rem;
  }
  
  #næringsindhold li, #ingredienser li {
    font-size: 1.25rem;
  }

  /********************************************************** VARIANTER *************************************************************/
  .nyhed-varianter {
    grid-template-columns: 60% 35%;
  }
  
  .nyhed-varianter h2 {
    font-size: 6rem;
    padding-left: 1.5rem;
  }
  
  #gul9v {
    width: 110%;
    grid-column: 4;
    grid-row: 1;
  }
  
  #gul10v {
    grid-column: 5;
    transform: rotate(335deg);
  }
  
  #gul12v {
    width: 100%;
    grid-column: 1;
    transform: rotate(120deg);
  }
  
  #gul13v {
    width: 130%;
    grid-column: 6;
    transform: rotate(180deg);
  }
  
  #gul14v {
    width: 110%;
    grid-column: 3;
    align-self: end;
  }
  
  #gul16v {
    display: none;
  }
  
  #gul17v {
    width: 140%;
  }

  .øl h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 570px) {

  /************************************************************* FORSIDE *************************************************************/
  #forside {
    gap: 3rem 1%;
  }

  /**************************************************** FØRSTE BOKS/KAMPAGNE ********************************************************/
  .kampagne h2 {
    font-size: 4.75rem;
    line-height: 3.5rem;
  }

  .kampagne a {
    font-size: 1.5rem;
    grid-row: 25;
  }

  .flaske1k {
    transform: rotate(19deg);
  }

  /****************************************************** ANDEN BOKS/NYHED **********************************************************/
  .nyhed {
    margin: 0 2rem 1rem;
  }
  
  .nyhed h2 {
    font-size: 6rem;
    line-height: 6rem;
  }

  /******************************************* FJERDE + FEMTE BOKST/VARIANTER + PRODUKTIONEN ****************************************/
  .varianter h2, .produktionen h2 {
    font-size: 3rem;
  }
}
  
@media (max-width: 500px) {

  /************************************************************* NYHED **************************************************************/
  .indhold-nyhed {
    grid-template-rows: 8% 15% 25% 33% 22%;
  }
}
  
@media (max-width: 450px) {

  /****************************************************** FØRSTE BOKS/KAMPAGNE ********************************************************/
  .kampagne h2 {
    font-size: 4rem;
    line-height: 3rem;
  }

  .kampagne a {
    grid-row: 26;
  }
  
  /******************************************************* ANDEN BOKS/NYHED *********************************************************/
  .nyhed {
    margin: 0 2rem 1rem;
  }

  /************************************************************* NYHED **************************************************************/
  .indhold-nyhed {
    grid-template-rows: 9% 12% 25% 35% 22%;
  }
}

/**********************************************************************************************************************************/
/**********************************************************************************************************************************/
/******************************************************* @MEDIA TIL MOBIL *********************************************************/
/**********************************************************************************************************************************/
/**********************************************************************************************************************************/
@media (max-width: 425px) {
  /**********************************************************************************************************************************/
  /************************************************************* NAVBAR *************************************************************/
  /**********************************************************************************************************************************/
  nav {
    height: 75px;
  }
  
  nav ul {
    margin-right: 30px;
  }
  
  /* Style the logo */
  .logo-nav {
    height: 45px;
  } 
  
  .logo-nav-a {
    line-height: 120px;
  }

  #menu {
    margin-top: -5px;
  }
  
  /* styling the label checkbtn class */
  .checkbtn {
    font-size: 40px;
    line-height: 90px;
  }

  /**********************************************************************************************************************************/
  /************************************************************ FORSIDE *************************************************************/
  /**********************************************************************************************************************************/
  #forside {
    margin: 2rem 2% 0;
  }
  
  /****************************************************** FØRSTE BOKS/KAMPAGNE ******************************************************/
  .kampagne img {
    width: 1.25rem;
  }

  .kampagne h2 {
    font-size: 3rem;
    line-height: 2rem;
    grid-row: 17 / 24;
  }
  
  .kampagne a {
    font-size: 1.75rem;
    grid-row: 25;
  }

  .daase2k {
    grid-column: 16;
    grid-row: 24 / 40;
  }

  .daase4k {
    grid-row: 27 / 40;
  }

  .daase7k {
    grid-row: 13 / 20;
  }

  .daase9k {
    grid-row: 13 / 20;
    grid-column: 12;
  }

  .daase10k {
    grid-row: 4 / 20;
  }

  .daase11k {
    grid-column: 15;
    grid-row: 10 / 40;
  }

  .daase12k {
    grid-column: 15;
    grid-row: 16 / 40;
    display: none;
  }

  .daase15k {
    grid-row: 4 / 40;
  }

  .daase16k {
    grid-column: 6;
    grid-row: 10 / 40;
  }

  .flaske2k {
    grid-row: 4 / 20;
  }

  .flaske3k {
    grid-row: 5 / 20;
  }

  .flaske6k {
  grid-row: 36 / 40;
  }

  .flaske8k {
    grid-column: 8;
    grid-row: 14 / 40;
    display: none;
  }
  
  .flaske9k {
    grid-column: 9;
    grid-row: 8 / 40;
  }

  .flaske10k {
    grid-row: 6 / 40;
  }

  .flaske11k {
    grid-row: 29 / 40;
  }

  /******************************************************* ANDEN BOKS/NYHED *********************************************************/
  .nyhed {
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
  }
  
  .nyhed h2 {
    width: 100%;
  }

  .nyhed picture {
    width: 25%;
  }

  /****************************************************** TREDJE BOKS/CITAT *********************************************************/
  .citat h2 {
    font-size: 3.75rem;
    line-height: 3rem;
  }

  /***************************************** FJERDE + FEMTE BOKST/VARIANTER + PRODUKTIONEN ******************************************/
  .varianter, .produktionen {
    width: 75%;
    margin: 0;
  }
  
  .varianter h2, .produktionen h2 {
    padding-bottom: 5px;
  }
  
  .varianter img {
    width: 21%;
  }
  
  .produktionen img {
    width: 80%;
  }
  
  /************************************************** SJETTE BOKS/HISTORIEN BAG *****************************************************/
  .historie {
    margin: 2rem 0;
  }
  
  .historie h2 {
    font-size: 2.5rem;
    line-height: 2rem;
  }

  /**********************************************************************************************************************************/
  /*********************************************************** KAMPAGNE *************************************************************/
  /**********************************************************************************************************************************/
  #kampagne {
    margin: 120px 4% 120px;
  }

  #kampagne h1 {
    font-size: 3.5rem;
  }

  #kampagne p {
    margin: 0 4%;
  }

  .tekst-laptop {
    display: none;
  }

  .tekst-mobil {
    display: block;
  }

  .flaske2 {
    grid-area: 4 / 2;
  }

  .flaske3 {
    grid-area: 13 / 15;
  }

  .flaske9 {
    grid-area: 9 / 29;
  }

  .flaske11 {
    grid-area: 2 / 25;
    transform: rotate(334deg);
  }

  .flaske14 {
    transform: rotate(334deg);
  }

  .daase3 {
    grid-area: 11 / 4;
  }

  .daase6 {
    grid-area: 6 / 1;
    transform: rotate(35deg);
  }

  .daase11 {
    transform: rotate(327deg);
  }

  .daase12 {
    transform: rotate(336deg);
  }

  /**********************************************************************************************************************************/
  /************************************************************ NYHED ***************************************************************/
  /**********************************************************************************************************************************/
  #nyhed {
    margin: 80px 0 14rem;
  }

  .indhold-nyhed {
    grid-template-rows: 10% 13% 15% 40% 13% 10%;
    gap: 2% 0;
  }

  #nyhed h1 {
    font-size: 4rem;
    line-height: 2.5rem;
  }

  .indhold-nyhed img {
    width: 75%;
  }

  #tekst-nyhed p {
    font-size: 1.25rem;
  }

  #næringsindhold {
    grid-row: 5;
    grid-column: 1 / 3;
  }

  #ingredienser {
    grid-row: 6;
    grid-column: 1 / 3;

  }

  #næringsindhold h3, #ingredienser h3 {
    font-size: 1.25rem;
  }

  #næringsindhold li, #ingredienser li {
    font-size: 1rem;
  }

  /*********************************************************** BAGGRUND *************************************************************/
  #gul1 {
    grid-row: 3;
  }

  #gul3 {
    display: none;
  }

  #gul4 {
    grid-row: 12;
  }

  #gul5 {
    grid-column: 3;
    grid-row: 6;
  }

  #gul7 {
    grid-column: 9;
    grid-row: 18;
    display: block;
  }

  #gul10 {
    grid-row: 4;
  }

  /**********************************************************************************************************************************/
  /********************************************************** PRODUKTION ************************************************************/
  /**********************************************************************************************************************************/
  #produktion {
    margin: 100px 3% 30px;
  }

  #produktion h1 {
    font-size: 4rem;
  }

  #produktion img {
    margin: 10px 0;
  }

  /**********************************************************************************************************************************/
  /******************************************************** HISTORIEN BAG ***********************************************************/
  /**********************************************************************************************************************************/
  #historie {
    margin: 75px 7% 30px;
  }

  #historie h1 {
    font-size: 4rem;
  }

  #historie div p {
    font-size: 1rem;
    padding: 5px;
  }

  #vision, #mission {
    padding: 10px 0;
    margin: 1rem 0;
    width: 100%;
  }

  #vision h2, #mission h2 {
    font-size: 1.5rem;
  }

  #vision p, #mission p {
    font-size: 1rem;
  }

  /**********************************************************************************************************************************/
  /********************************************************** VARIANTER *************************************************************/
  /**********************************************************************************************************************************/
  #varianter {
    margin: 110px 4% 30px;
    gap: 3rem 8%;
  }

  .nyhed-varianter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 185px;
    gap: 10px;
    width: 100%;
  }

  .nyhed-varianter h2 {
    font-size: 9rem;
    padding-left: 0;
  }

  .øl-nyhed {
    gap: 0 10px;
    height: 185px;
    justify-content: flex-end;
  }

  .øl-nyhed img {
    width: 40px;
  }

  .baggrund-varianter {
    width: 92%;
    height: 185px;
    top: 110px;
    left: 4%;
  }

  #gul4v {
    width: 70%;
    display: block;
  }

  #gul9v {
    display: none;
  }

  #gul10v {
    width: 150%;
    grid-column: 3;
    grid-row: 7;
    transform: rotate(120deg);
  }

  #gul12v {
    width: 120%;
    grid-row: 3;
    transform: rotate(90deg);
    justify-self: start;
  }

  #gul13v {
    width: 120%;
    grid-column: 8;
    grid-row: 6;
    transform: rotate(90deg);
    justify-self: end;
    align-self: start;
  }

  #gul14v {
    width: 200%;
    grid-column: 9;
  }

  #gul15v {
    width: 120%;
    grid-row: 6;
  }

  #gul16v {
    grid-row: 2;
  }

  #gul17v {
    width: 200%;
  }

  .øl {
    width: 75%;
  }

  .øl h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 345px) {

  /************************************************************ NYHED ***************************************************************/
  .indhold-nyhed {
    grid-template-rows: 10% 13% 15% 42% 13% 10%;
    gap: 2% 6%;
  }
}